<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>classNames</key>
	<dict>
		<key>Math_Methods_Tests</key>
		<dict>
			<key>testPerformanceExample()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
					<key>maxPercentRelativeStandardDeviation</key>
					<real>4</real>
				</dict>
			</dict>
		</dict>
		<key>Project_Euler_Test</key>
		<dict>
			<key>testPerformanceExample()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
					<key>maxPercentRelativeStandardDeviation</key>
					<real>10</real>
				</dict>
			</dict>
			<key>testProblemFour()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.46</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
					<key>maxPercentRelativeStandardDeviation</key>
					<real>10</real>
				</dict>
			</dict>
			<key>testProblemSeven()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.01</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
					<key>maxPercentRelativeStandardDeviation</key>
					<real>10</real>
				</dict>
			</dict>
			<key>testProblemTen()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>4.17</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
					<key>maxPercentRelativeStandardDeviation</key>
					<real>10</real>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
